body {
    font-family: helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.container {
    width: 85%;
}

.container h1 {
    font-size: 1.2em;
}

label {
    font-weight: bold;
    margin: 10px;
}

div {
    padding-bottom: 20px;
}

input[type="text"] {
    margin-top: 10px;
    padding: 5px;
    width: 60%;
}

p {
    background: #FFC125;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
}

.text {
    width: 85%;
    color: black;
    background-color: lightgreen;
    visibility: visible;
    text-align: center;
}

footer {
    width: 85%;
    border: 1px solid black;
    border-left-style: none;
    border-right-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h1 {
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: deeppink;
}